<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codingending.packagefairy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 运行时权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <!-- 该权限需要引导用户主动开启 -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.ConsumeService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.RecommendActivity"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".activity.account.UserActivity"
            android:label="@string/activity_user" />
        <activity
            android:name=".activity.account.LoginActivity"
            android:label="@string/activity_login" />
        <activity
            android:name=".activity.PackageDetailActivity"
            android:label="@string/activity_package_detail" />
        <activity
            android:name=".activity.account.DeviceActivity"
            android:label="@string/activity_device" />
        <activity
            android:name=".activity.account.BackupActivity"
            android:label="@string/activity_backup" />
        <activity android:name=".activity.account.AboutActivity"
            android:label="@string/activity_about"/>
        <activity android:name=".activity.account.LibraryActivity"
            android:label="@string/account_item_library"/>
    </application>

</manifest>